html
  head
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    link(type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" rel="stylesheet" media="screen,projection")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title direct HTTP agent
  body
    div(class="container")
      br
      br
      h1(class="header center-align teal-text") direct HTTP agent
      div(class="row center-align")
        h5(class="header col s12 light") Provide REST API and Webhook for direct
      div(class="row center-align")
        div(class="col s12")
          p(class="orange-text text-darken-3") This is an experimental service. We strongly encourage you to use a direct account for test.
      div(class="row center-align")
        a(href="/login" class="btn-large waves-effect waves-light teal") Login
    script(type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js")
    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js")
